@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;
  --foreground: #ededed;
  --green: #495845;
  --green-secondary: #b4beb6;
  --brown: #a67e4d;
  --brown-secondary: #b39976;
}

body {
  color: var(--foreground);
  background: var(--green);
  font-family: var(--font-geist-mono);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-josefin-sans);
}
