@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;
  --background: #000000;
  --foreground: #ededed;
  --green: #495845;
  --green-secondary: #b4beb6;
  --brown: #a67e4d;
  --brown-secondary: #b39976;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
